name: Test datasets.xml and linter
on:
  pull_request:
    branches:
      - main
      - development
    paths:
      - datasets.d/**
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Lint Code Base
        uses: github/super-linter/slim@v4
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          VALIDATE_XML: true
          LOG_LEVEL: WARN
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Review dataset.d/*.xml file names = datasetIDs
        run: sh .github/workflows/test-datasets.d.sh
